/**
 * @file
 * Use this CSS file to override base CSS rules
 */

/* Set default font weight to 300 for better typography in high-density screens */
/*body {
  font-weight: 300;
}*/


#content-top{
    background-image: url("../../images/ciudad-perdida.png");
    background-repeat: no-repeat;
}

#content-top .owl-item{
    background:rgba(255,255,255,0.7);
    padding: 0 1em;
}

#content-top .owl-item img {
    width: auto;
    margin: 0 auto;
}


#block-views-block-publicaciones-block-1 .owl-item img {
    width: auto;
    margin: 0 auto;
}